.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 40px;
    margin-top: 1.5em;
}

.products-header {
    text-align: center;
    margin-top: 1em;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 200px;
    margin: 0 auto;
    margin-top: 1em;
}

.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.product span {
    color: #000;
    margin-top: 10px;
}

.product .quantity,
.product .price {
    color: rgba(0, 0, 0, .5);
}

.product .name {
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #7cd2b21f;
}

.login .error {
    color: red;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login input[name=email],
.login input[name=password] {
    height: 30px;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 3px;
    background: white;
}

input[type="submit"] {
    border-radius: 3px;
    width: 170px;
    height: 31px;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 960px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 660px) {
    .products {
        grid-template-columns: 1fr;
    }
}